.App {
  font-family: sans-serif;
  text-align: center;
}

.slot {
  position: relative;
  /* display: inline-block; */
  height: 100px;
  width: 80px;
}

section {
  position: absolute;
  width: 75px;
  height: 70px;
  overflow: hidden;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxer{
  box-shadow: -2px 2px 29px 14px rgba(0,0,0,0.32) inset;
  -webkit-box-shadow: -2px 2px 29px 14px rgba(0,0,0,0.32) inset;
  -moz-box-shadow: -2px 2px 29px 14px rgba(0,0,0,0.32) inset;
}

.containers {
  position: absolute;
  /* left: 10px; */
  width: 100%;
  transition: top ease-in-out 2s;
  animation: top 3s linear infinite;
  filter: blur(2px);
}

.containerStop {
  animation: none !important;
  filter: blur(0px)
}

@keyframes top {

  0% {transform:translateY(100);}
  
  100% {transform:translateY(-4000px);}
  
}  
  

.roll {
  /* width: 143px; */
  cursor: pointer;
  /* background-color: red; */
  padding: 10px;
  text-align: center;
  font-size: 20px;
  /* border-radius: 20px;
  border: 1px solid white; */
  color: white;
}

@keyframes blinkingText {
  0% {
    color: rgb(255, 255, 255)
  }
  49% {
    color: rgb(255, 255, 255);
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: rgb(255, 0, 0);
  }
}

.swal2-title {
  position: relative !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: .8em 1em 0 !important;
  color: inherit !important;
  font-size: 0.875em !important;
  font-weight: 600 !important;
  text-align: center !important;
  text-transform: none !important;
  word-wrap: break-word !important;
}